.nav-wrapper {
    text-align: center;
    background-color: black;
}
.brand-logo {
font-family: 'Monoton', cursive;
color: white;
}
#btnScrollToTop {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: black;
  box-shadow: 0 0 10px rgb(0, 0, 0.25);
  color: white;
  outline: white;
  cursor: pointer;
  border: none;
}

#btnScrollToTop:active {
  background: gray;
}

body {
    background-color: white;
}
#menuLink1 {
    color: white;
}
#recItem {
    color: white;
}
.parallax-container {
    height: "500";
  }
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
